<!--The content below is only a placeholder and can be replaced. <a md-raised-button routerLink=".">Link</a>-->


<!--Login SideNav.-->

<md-sidenav-container class="container">
  <button md-button color="primary"  (click)="sidenav.open()">
    Sign In
  </button>
  <img src ="assets/PEEK.png">
  <div fxLayout="row" fxlayoutAlign="center center">
    <md-card class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>
<!--Video--->
  <iframe width="560" height="315" src="https://www.youtube.com/embed/h2JvZOVgKC8"
      frameborder="0" allowfullscreen></iframe>
<!--Cast-->
  <md-card class="example-card">
  <md-card-header>
    <md-card-title>Cast</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
  </div>
  <md-sidenav #sidenav class="sidenav">
    <md-icon class="style">account_circle</md-icon>
    <!--watch list.-->


    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  </md-sidenav>

  <div class="sidenav-content">

  </div>

</md-sidenav-container>
